<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>sds</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    <div class="d-xl-flex justify-content-xl-start align-items-xl-start" id="app"><img class="camera" :src="img">
        <div class="calib m-4"><button class="btn" type="button" v-on:click="settings=true">Settings</button><button class="btn" v-on:click="about=true">About</button></div>
        <div class="m-2 p-2 pin-calc" v-if="settings">
            <div style="width: 100px;">
                <div class="button-keeper"><input type="password" class="pin" readonly="" v-model="pincode"></div>
                <div class="button-keeper"><button class="btn" type="button" v-on:click="openCalibration(1)">1</button><button class="btn" type="button" v-on:click="openCalibration(2)">2</button><button class="btn" type="button" v-on:click="openCalibration(3)">3</button></div>
                <div
                    class="button-keeper"><button class="btn" type="button" v-on:click="openCalibration(4)">4</button><button class="btn" type="button" v-on:click="openCalibration(5)">5</button><button class="btn" type="button" v-on:click="openCalibration(6)">6</button></div>
            <div
                class="button-keeper"><button class="btn" type="button" v-on:click="openCalibration(7)">7</button><button class="btn" type="button" v-on:click="openCalibration(8)">8</button><button class="btn" type="button" v-on:click="openCalibration(9)">9</button></div>
    </div>
    </div>
    <div class="m-2 p-2 pin-calc" v-if="about">
        <div>
            <h1>Wendu</h1>
            <p>Client: 0.2.1</p>
            <p>Server: 0.1.3</p>
        </div><i class="fa fa-remove txt" v-on:click="about=false"></i></div>
    <div class="m-2 p-2 pin-calc" v-if="pin_board">
        <div style="width: 120px;">
            <div class="button-keeper"><input type="number" class="pin" readonly="" v-model="editT"></div>
            <div class="button-keeper"><button class="btn" type="button" v-on:click="editT--">-</button><button class="btn" type="button" v-on:click="editT++">+</button><button class="btn" type="button" v-on:click="setTemperature">OK</button></div>
            <p>delta:{{editT}}</p>
            <p>T:{{T}}</p>
        </div>
    </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>